Import the election data.

In [1]:
import csv
import pandas as pd

In [2]:
electionfile = "../data/clean/1976-2018-senate.csv"
election_df = pd.read_csv(electionfile)
election_df.head()

,key,year,state,state_po,special,candidate,party,writein,candidatevotes,totalvotes,Winner,Percent,Incumbent,Incumbent?,Duplicate?,Other than NA?
0,Alabama|2014,2014,Alabama,AL,False,Jeff Sessions,republican,False,795606,818090,W,0.972516,Jeff Sessions,True,False,NaN
1,Alabama|2014,2014,Alabama,AL,False,NaN,NaN,True,22484,818090,NaN,0.027484,Jeff Sessions,False,False,NaN
2,Alabama|2016,2016,Alabama,AL,False,NaN,NaN,True,3631,2087444,NaN,0.001739,Richard C. Shelby,False,True,NaN
3,Alabama|2016,2016,Alabama,AL,False,Richard C. Shelby,republican,False,1335104,2087444,W,0.639588,Richard C. Shelby,True,False,NaN
4,Alabama|2016,2016,Alabama,AL,False,Ron Crumpton,democrat,False,748709,2087444,NaN,0.358673,Richard C. Shelby,False,False,NaN

Slice and dice the data to retain only  what we really need.,

In [3]:
xyz = ["year","state","state_po","candidate","party","candidatevotes","totalvotes"]
election_df = election_df[xyz]
election_df.head()

,year,state,state_po,candidate,party,candidatevotes,totalvotes
0,2014,Alabama,AL,Jeff Sessions,republican,795606,818090
1,2014,Alabama,AL,NaN,NaN,22484,818090
2,2016,Alabama,AL,NaN,NaN,3631,2087444
3,2016,Alabama,AL,Richard C. Shelby,republican,1335104,2087444
4,2016,Alabama,AL,Ron Crumpton,democrat,748709,2087444

In [4]:
election_df = election_df.loc[election_df["year"] > 2005, :]
# election_df = election_df.loc[election_df["stage"] == "gen", :]

In [5]:
election_df.head()

,year,state,state_po,candidate,party,candidatevotes,totalvotes
0,2014,Alabama,AL,Jeff Sessions,republican,795606,818090
1,2014,Alabama,AL,NaN,NaN,22484,818090
2,2016,Alabama,AL,NaN,NaN,3631,2087444
3,2016,Alabama,AL,Richard C. Shelby,republican,1335104,2087444
4,2016,Alabama,AL,Ron Crumpton,democrat,748709,2087444

Identify the election winners

In [6]:
election_df = election_df.sort_values(["year","state","candidatevotes"], ascending=[True, True, False])
election_df.head()
election_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 756 entries, 17 to 755
Data columns (total 7 columns):
year              756 non-null int64
state             756 non-null object
state_po          756 non-null object
candidate         615 non-null object
party             573 non-null object
candidatevotes    756 non-null int64
totalvotes        756 non-null int64
dtypes: int64(3), object(4)
memory usage: 47.2+ KB